<template lang="pug">
	nav(v-if="meta.last_page !== 1")
		router-link(v-if="meta.current_page > 3" :to="{path: baseUrl, query: {page: meta.current_page - 1}}") &laquo;
		router-link(v-if="meta.current_page > 1" :to="{path: baseUrl, query: {page: meta.current_page - 1}}") &lt;
		router-link(v-if="meta.current_page - 2 > 0" :to="{path: baseUrl, query: {page: meta.current_page - 2}}") {{ meta.current_page - 2 }}
		router-link(v-if="meta.current_page - 1 > 0" :to="{path: baseUrl, query: {page: meta.current_page - 1}}") {{ meta.current_page - 1 }}
		strong {{ meta.current_page }}
		router-link(v-if="meta.current_page + 1 <= meta.last_page" :to="{path: baseUrl, query: {page: meta.current_page + 1}}") {{ meta.current_page + 1 }}
		router-link(v-if="meta.current_page + 2 <= meta.last_page" :to="{path: baseUrl, query: {page: meta.current_page + 2}}") {{ meta.current_page + 2 }}
		router-link(v-if="meta.current_page < meta.last_page" :to="{path: baseUrl, query: {page: meta.current_page + 1}}") &gt;
		router-link(v-if="meta.current_page < meta.last_page - 2" :to="{path: baseUrl, query: {page: meta.last_page}}") &raquo;
</template>

<script lang="ts">
  import {CollectionMeta} from '@/models/types';
  import {Component, Prop, Vue} from 'vue-property-decorator';

  @Component
  export default class Pagination extends Vue {
    @Prop() public meta!: CollectionMeta;
    @Prop() public baseUrl!: string;
  }
</script>
