<template lang="pug">
  p(class="text-primary text-center")
    fa(icon="spinner" spin size="5x")
</template>

<script lang="ts">
  import {Component, Prop, Vue} from 'vue-property-decorator';

  @Component
  export default class Loader extends Vue {

  }
</script>
