<template lang="pug">
  div
    h1(class="text-center") Account

    loader(v-if="loading")
    div(v-else)
      h3 Hello, {{ '#' + user.id }} {{ user.name }}!
</template>

<script lang="ts">
  import {Component, Prop, Vue} from 'vue-property-decorator';
  import {Route} from 'vue-router';
  import App from '@/app/App';

  @Component
  export default class Index extends Vue {
    public beforeRouteEnter(to: Route, from: Route, next: () => void) {
      if (!App.$instance.$store.getters['auth/signedIn']) {
        App.$instance.$router.push({name: 'auth.login'});
      }

      next();
    }

    public created() {
      this.$store.dispatch('user/account');
    }

    get loading() {
      return this.$store.state.user.loading;
    }

    get user() {
      return this.$store.state.user.user;
    }
  }
</script>
