<template lang="pug">
  div(id="app")
    b-container
      navigation
      router-view(v-show="!$root.loading")
      loader(v-show="$root.loading")
</template>

<script lang="ts">
  import {Component, Vue} from 'vue-property-decorator';
  import Navigation from '@/views/partials/Navigation.vue';

  @Component({
    components: {
      Navigation,
    },
  })
  export default class App extends Vue {}
</script>

<style lang="scss">
  @import '../../assets/sass/app.scss';
</style>
