<template>
  <b-form-group :label="attributes.label">
    <input :type="attributes.type"
           class="form-control"
           :class="{'is-invalid': attributes.errors.length}"
           :id="attributes.id"
           :placeholder="attributes.placeholder"
           v-bind="$attrs"
           v-on:input="$emit('input', $event.target.value)"
           :disabled="attributes.loading"
    >
    <div class="invalid-feedback" v-show="attributes.errors.length">
      <div v-for="error in attributes.errors" v-text="error"></div>
    </div>
  </b-form-group>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from 'vue-property-decorator';

  @Component({
    inheritAttrs: false,
  })
  export default class FormInput extends Vue {
    @Prop() protected name?: string;
    @Prop() protected type?: string;
    @Prop() protected label?: string;
    @Prop() protected errors?: string[];
    @Prop() protected id?: string;
    @Prop() protected placeholder?: string;
    @Prop() protected loading: boolean = false;

    public get attributes(): object {
      return {
        id: this.id || this.name || '',
        name: this.name,
        type: this.type || 'text',
        label: this.label,
        placeholder: this.placeholder,
        errors: this.errors || [],
        loading: this.loading,
      };
    }
  }
</script>
