<template lang="pug">
  nav(id="nav")
    router-link(:to="{name: 'home'}" exact) Home
    | &nbsp; | &nbsp;
    router-link(:to="{name: 'posts.index'}") Blog
    | &nbsp; | &nbsp;
    router-link(:to="{name: 'about'}" exact) About
    | &nbsp; | &nbsp;
    router-link(:to="{name: 'auth.login'}" v-if="!$store.getters['auth/signedIn']" exact) Login
    template(v-else)
      router-link(:to="{name: 'account.index'}" exact) Account
      | &nbsp; | &nbsp;
      router-link(:to="{name: 'auth.logout'}" exact) Logout
</template>
