<template>
  <div>
    <b-row class="justify-content-md-center">
      <b-col col lg="6">
        <b-card title="Login">
          <b-form @submit.prevent="login">

            <form-input-email
                :errors="errors.email"
                :loading="loading"
                v-model="inputs.email"
                required
            />

            <form-input-password
                :errors="errors.password"
                :loading="loading"
                v-model="inputs.password"
                required
            />

            <b-form-group>
              <b-form-checkbox-group v-model="inputs.remember">
                <b-form-checkbox value="me">Remember me</b-form-checkbox>
              </b-form-checkbox-group>
            </b-form-group>

            <b-button type="submit" variant="primary" :disabled="loading">
              <fa icon="spinner" spin v-show="loading"/>
              Login
            </b-button>
          </b-form>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script lang="ts">
  import {Component, Vue} from 'vue-property-decorator';
  import Auth from '@/api/Auth';

  @Component
  export default class Login extends Vue {
    protected loading: boolean = false;

    protected inputs = {
      email: '',
      password: '',
      remember: false,
    };

    protected errors = {
      email: [],
      password: [],
    };

    protected get hasErrors(): boolean {
      return Boolean(this.errors.email.length || this.errors.password.length);
    }

    public async login() {
      this.loading = true;
      this.cleanErrors();

      const response = await Auth.login(this.inputs);
      this.loading = false;

      if (response.status === 422) {
        this.errors.email = response.data.errors.email || [];
        this.errors.password = response.data.errors.password || [];
        return;
      }

      this.$store.commit('auth/setAccessToken', response.data.data.access_token);

      const redirectUrl = response.data.data.redirectUrl || {name: 'home'};
      this.$router.push(redirectUrl);
    }


    protected cleanErrors() {
      this.errors = {
        email: [],
        password: [],
      };
    }
  }
</script>
