<template></template>

<script lang="ts">
  import {Component, Vue} from 'vue-property-decorator';
  import {Route} from 'vue-router';
  import App from '@/app/App';

  @Component
  export default class Logout extends Vue {
    public async beforeRouteEnter(to: Route, from: Route, next: () => void) {
      App.$instance.loading = true;
      await App.$instance.$store.dispatch('auth/logout');
      App.$instance.loading = false;

      App.$instance.$router.push({name: 'auth.login'});
    }
  }
</script>
