<template lang="pug">
  div
    h1(class="text-center") Blog

    loader(v-if="loading")
    div(v-else)
      section
        b-card(
          v-for="post in posts.items"
          :key="post.id"
          :title="post.title"
          :img-src="post.image"
          :img-alt="post.title"
          class="mb-3"
        )
          p(class="card-text" v-html="post.shortDescription")
          router-link(:to="{name: 'posts.show', params: {id: post.id}}" class="card-link") View more

</template>

<script lang="ts">
  import {Component, Vue} from 'vue-property-decorator';
  import Post from '@/models/Post';
  import Posts from '@/api/Posts';
  import Collection from '@/models/Collection';

  @Component
  export default class Index extends Vue {
    protected loading: boolean = false;
    protected posts: Collection | Post[] = [];
    protected page: number = 1;

    public async created() {
      this.loading = true;
      this.posts = await Posts.get({page: this.page});
      this.loading = false;
    }

  }
</script>
