<template lang="pug">
  div
    p(class="text-center")
      router-link(:to="{name: 'posts.index'}" class="btn btn-info mb-5") Back

    loader(v-if="loading")
    div(v-else-if="post")
      h1(class="text-center") {{ post.title }}
      section
        b-card(
          :img-src="post.image"
          :img-alt="post.title"
          class="mb-3"
        )
          p(class="card-text" v-html="post.body")

</template>

<script lang="ts">
  import {Component, Vue} from 'vue-property-decorator';
  import Post from '@/models/Post';
  import Posts from '@/api/Posts';
  import Model from '@/models/Model';

  @Component
  export default class Show extends Vue {
    protected loading: boolean = false;
    protected post?: Post | Model;

    public async created() {
      this.loading = true;
      this.post = await Posts.find(this.$route.params.id);
      this.loading = false;
    }

  }
</script>
